.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 80px;
    margin-top: -30px;
}

.navbar-logo img{
    width: 200px;
}
.navbar p {
    width: 90px;
    font-size: 20px;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 18px;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #0ef 0.36%, #1576ff 102.06%);
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
}
.anchor-mod-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.anchor-mod-link p {
    margin: 0;
}
.nav-mob-close{
    display: none;
    width: 30px;    /* ปรับขนาดความกว้างให้เล็กลง */
    height: 30px;   /* ปรับขนาดความสูง */
    cursor: pointer;
}
.nav-mob-open{
    display: none;
    width: 30px;    /* ปรับขนาดความกว้างให้เล็กลง */
    height: 30px;   /* ปรับขนาดความสูง */
    cursor: pointer;
}

@media(max-width:768px){
    .navbar{
        margin: 50px 50px;
    }
    .navbar img{
        width: 150px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
        width: 100px;
    }
    .nav-mob-close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
    }
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 300px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -300px;
        padding-top: 50px;
    }
    .nav-menu li {
        font-size: 24px;
        padding-left: 50px;
        flex-direction: row;
        gap: 10px;
    }
}